body{
	font-family: Arial;
	background-color: #8AB5C6;
	background-size: 100%;
}
#cos{
	background-color: #8AB5C6;
}
#pagina{
	top: 0px;
	padding: 2%;
}

header{
	margin: 0 auto;
	color: #E3CF6C;
	background: #476C86;
	background: -webkit-linear-gradient(left, #476C86, #D8E1DE);
	background: -moz-linear-gradient(left, #476C86, #D8E1DE);
	background: -ms-linear-gradient(left, #476C86, #D8E1DE);
	background: -o-linear-gradient(left, #476C86, #D8E1DE);
	background: linear-gradient(to right, #476C86, #D8E1DE);
	height: 180px;
}
header h1{
	color: #E3CF6C;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding-top: 40px;
	padding-left: 180px;
}
header h1 a{
	color: #E3CF6C;
	text-decoration: none;
}
header h1 a:hover{
	font-weight: bold;
}
header h2{
	color: #E3CF6C;
	font-weight: bold;
	font-style: italic;
	font-family: sans-serif;
	font-size: 14px;
	padding-left: 200px;
}
#logo {
	width: 100%;
	position: relative;
	z-index: 2;
	background: url(../img/logo.png) no-repeat top 30px left 15px;
	background-size: 120px;
	height: 100%;
}
#intro, #test {
	background-color: #D8E1DE;
}

#intro { text-align: center; }
#intro h3 { padding: 12px; }

#caixatxt {
	font-size: 14px;
	max-width: 80%;
	margin-left: 10%;
	text-align: left;
	border: 1px solid #7F352A;
	border-radius: 4px;
	padding: 12px;
	}

#test {	display: none; }

#formulari {
	margin: auto;
	padding: 5%;
	font-size: 14px;

}
input[type=text], select{
	border: 1px solid #8AB5C6;
}
input[type=submit], input[type=reset] {
	text-align: center;
	background-color: #8AB5C6;
	color: #D8E1DE;
	font-weight: bold;
	padding: 14px 20px;
	margin: 8px 0;
	border: 1px solid #7F352A;
	border-radius: 4px;
	cursor: pointer;
}
input[type=submit]:hover,input[type=reset]:hover {
	background-color: #476C86;
}
#evaluacio{
	display: none;
	margin: auto;
	padding-top: 40px;
	text-align: left;
	font-size: 12px;
	max-width: 60%
}
#evaluacio li{
	padding-left: 12px;
	border: 1px solid #476C86;
}
button {
	text-align: center;
	background-color: #8AB5C6;
	color: #D8E1DE;
	font-weight: bold;
	padding: 14px 20px;
	margin: 8px 0;
	border: 1px solid #7F352A;
	border-radius: 4px;
	cursor: pointer;
}
footer{
	margin: 0 auto;
	margin-top: 20px;
	height: 100px;
	color: black;
}

footer p{
	margin: auto;
	padding-top: 40px;
	font-style: italic;
	text-align: right;
	font-size: 12px;
}
